USE [master]
GO
/****** Object:  Database [HI520_Medical_DB]    Script Date: 1/29/2023 11:05:34 AM ******/
CREATE DATABASE [HI520_Medical_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HI520_Medical_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HI520_Medical_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HI520_Medical_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HI520_Medical_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HI520_Medical_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HI520_Medical_DB]
GO
/****** Object:  Table [dbo].[Allergy]    Script Date: 1/29/2023 11:05:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergy](
	[PatientID] [int] NOT NULL,
	[Allergies] [varchar](100) NOT NULL,
	[DrugAllergies] [varchar](100) NULL,
 CONSTRAINT [PK_Allergy] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC,
	[Allergies] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FemalePatient]    Script Date: 1/29/2023 11:05:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FemalePatient](
	[PatientID] [int] NOT NULL,
	[LastMenstrualCycleDate] [date] NULL,
	[FirstMenstrualAge] [int] NULL,
	[MenopauseAge] [int] NULL,
	[NumberOfPregnancies] [int] NULL,
	[NumberOfLiveBirths] [int] NULL,
 CONSTRAINT [PK_FemalePatient] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MalePatient]    Script Date: 1/29/2023 11:05:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MalePatient](
	[PatientID] [int] NOT NULL,
	[TesticularProblems] [bit] NULL,
	[ErectileProblems] [bit] NULL,
	[LastProstateExamDate] [date] NULL,
	[ProstateExamResult] [varchar](10) NULL,
 CONSTRAINT [PK_MalePatient] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 1/29/2023 11:05:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] NOT NULL,
	[PatientFullName] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [bit] NULL,
	[EmergencyContactPhoneNumber] [int] NULL,
	[EmergencyContactName] [varchar](50) NULL,
	[Occupation] [varchar](20) NULL,
	[MaritalStatus] [bit] NULL,
	[Children] [bit] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PregnancyComplications]    Script Date: 1/29/2023 11:05:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PregnancyComplications](
	[PatientID] [int] NOT NULL,
	[PregnancyComplication] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PregnancyComplications] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC,
	[PregnancyComplication] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surgery]    Script Date: 1/29/2023 11:05:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surgery](
	[PatientID] [int] NOT NULL,
	[SurgeryType] [varchar](50) NOT NULL,
	[SurgeryDate] [date] NOT NULL,
	[Location] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Surgery] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC,
	[SurgeryType] ASC,
	[SurgeryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Allergy]  WITH CHECK ADD  CONSTRAINT [FK_Allergy_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Allergy] CHECK CONSTRAINT [FK_Allergy_Patient]
GO
ALTER TABLE [dbo].[FemalePatient]  WITH CHECK ADD  CONSTRAINT [FK_FemalePatient_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[FemalePatient] CHECK CONSTRAINT [FK_FemalePatient_Patient]
GO
ALTER TABLE [dbo].[MalePatient]  WITH CHECK ADD  CONSTRAINT [FK_MalePatient_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[MalePatient] CHECK CONSTRAINT [FK_MalePatient_Patient]
GO
ALTER TABLE [dbo].[PregnancyComplications]  WITH CHECK ADD  CONSTRAINT [FK_PregnancyComplications_FemalePatient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[FemalePatient] ([PatientID])
GO
ALTER TABLE [dbo].[PregnancyComplications] CHECK CONSTRAINT [FK_PregnancyComplications_FemalePatient]
GO
ALTER TABLE [dbo].[Surgery]  WITH CHECK ADD  CONSTRAINT [FK_Surgery_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Surgery] CHECK CONSTRAINT [FK_Surgery_Patient]
GO
USE [master]
GO
